
table {
border: solid 1px black;
border-collapse: collapse
 	margin-left:auto; 
    margin-right:auto;
    text-align:center;
}
th, td {
border: solid 1px black;
}

#title{font-family: arial;
}
thead {
font-family: arial;
background-color: #ccddee;
}
tfoot {
background-color: #ddccee;
font-family: times, serif;
font-size: .9em;
font-style: italic;
}
tr:hover {
color: white;
background-color: #722750;
}
